/*reset*/
/*a*/
/*border*/
/*h*/
/*padding*/
/*head*/
/*reset*/
/*a*/
/*border*/
/*h*/
/*padding*/
/*head*/
/*reset*/
/*a*/
/*border*/
/*h*/
/*padding*/
/*head*/
/*reset*/
body, h1, h2, h3, h4, h5, h6, p, ul, li, dl, ol, dd, dt, a, img, input, span {
  padding: 0;
  margin: 0;
}

body {
  font-size: 12px;
}

img {
  border: 0;
  display: inline-block;
}

ul, ol {
  list-style: none;
}

a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  color: #e5004f;
  text-decoration: none;
}

/*reset*/
/*a*/
/*border*/
/*h*/
/*padding*/
/*head*/
.w {
  width: 1190px;
  margin: 0 auto !important;
}

.l {
  float: left;
}

.r {
  float: right;
}

.hidden {
  display: none;
  visibility: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.affix {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/*head*/
/*reset*/
/*a*/
/*border*/
/*h*/
/*padding*/
/*head*/
#cartinf {
  width: 100%;
  background: #eee;
  padding-top: 20px;
}

.bdwraper {
  height: 784px;
  margin: 0 auto;
  width: 940px;
  padding: 20px;
  background: #fff;
}
.bdwraper .CartSteps {
  height: 80px;
  margin-bottom: 10px;
}
.bdwraper .CartSteps h2 {
  width: 112px;
  height: 80px;
  background: url(../img/car/shopping-head.jpg) no-repeat 0 0;
}
.bdwraper .CartSteps .sp-step {
  padding-top: 3px;
  margin-right: 10px;
  background: url(../img/car/shopping-head.jpg) no-repeat -158px 5px;
  height: 57px;
  width: 538px;
}
.bdwraper .CartSteps .sp-step span em {
  font-style: normal;
  font-weight: 400px;
  padding-top: 18px;
  font-size: 12px;
  display: block;
}
.bdwraper .CartSteps .sp-step .clickone {
  vertical-align: top;
  text-align: center;
  font-size: 14px;
  color: #e5004f;
  height: 57px;
  width: 76px;
  background: url(../img/car/shopping-head.jpg) no-repeat -158px -52px;
}
.bdwraper .CartSteps .sp-step .clicktwo {
  vertical-align: top;
  text-align: center;
  color: #999;
  width: 402px;
  font-size: 14px;
}

#CommodityBox {
  height: 313px;
  width: 940px;
}
#CommodityBox .CommodityCate {
  height: 30px;
  width: 100%;
  background: #666;
}
#CommodityBox .CommodityCate span {
  line-height: 30px;
  text-align: left;
  font-weight: 700;
  overflow: hidden;
  color: #fff;
  font-size: 12px;
}
#CommodityBox .CommodityCate .th-chk {
  width: 103px;
  padding-left: 27px;
}
#CommodityBox .CommodityCate .th-chk span {
  position: relative;
  display: inline-block;
  zoom: 1;
  width: 14px;
  height: 13px;
  margin-top: 10px;
  overflow: hidden;
  vertical-align: top;
}
#CommodityBox .CommodityCate .th-chk label {
  position: relative;
  z-index: 1;
  width: 14px;
  height: 13px;
  overflow: hidden;
  cursor: pointer;
  background: url(../img/car/shopping-icon.png) no-repeat 0 -55px;
}
#CommodityBox .CommodityCate .th-item {
  width: 372px;
}
#CommodityBox .CommodityCate .th-price {
  width: 130px;
}
#CommodityBox .CommodityCate .th-amount {
  width: 66px;
  padding-right: 60px;
  text-align: center;
}
#CommodityBox .CommodityCate .th-sum {
  width: 90px;
}
#CommodityBox .CommodityCate .th-op {
  width: 92px;
}

.CommodityBox {
  width: 940px;
  margin-bottom: 10px;
}
.CommodityBox .CommodityTitle {
  clear: both;
  position: relative;
  height: 30px;
  border: 1px solid #e2e2e2;
  border-bottom: none;
  background-color: #eee;
}
.CommodityBox .CommodityTitle .ActivitieHead {
  position: absolute;
  top: -1px;
  left: -10px;
  height: 40px;
  overflow: hidden;
  padding-left: 10px;
}
.CommodityBox .CommodityTitle .ActivitieHead h3 {
  line-height: 30px;
  color: #666;
  padding: 0 32px 0 10px;
  font-size: 12px;
}
.CommodityBox .CommodityList {
  clear: both;
  overflow: hidden;
  display: block;
  position: relative;
  background: #f9f9f9;
  zoom: 1;
  width: 938px;
  padding-top: 15px;
  border: 1px solid #e2e2e2;
  border-top: none;
}
.CommodityBox .CommodityList .th-chk {
  width: 40px;
  height: 62px;
  padding-left: 26px;
}
.CommodityBox .CommodityList .th-chk div {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 13px;
  overflow: hidden;
  vertical-align: top;
}
.CommodityBox .CommodityList .th-chk div label {
  position: relative;
  z-index: 1;
  float: left;
  width: 14px;
  height: 13px;
  overflow: hidden;
  cursor: pointer;
  background: url(../img/car/shopping-icon.png) no-repeat 0 -55px;
}
.CommodityBox .CommodityList .th-item {
  width: 435px;
}
.CommodityBox .CommodityList .th-item .property {
  width: 425px;
  overflow: hidden;
  margin-bottom: 10px;
}
.CommodityBox .CommodityList .th-item .property .pro-img {
  width: 45px;
  height: 60px;
  margin-right: 10px;
  overflow: hidden;
  border: 1px solid #efefef;
  background-color: #fff;
}
.CommodityBox .CommodityList .th-item .property .pro-img img {
  display: block;
  width: 45px;
  height: 60px;
  vertical-align: top;
}
.CommodityBox .CommodityList .th-item .property .pro-title {
  float: left;
  width: 328px;
  position: relative;
}
.CommodityBox .CommodityList .th-item .property .pro-title a {
  color: #666;
}
.CommodityBox .CommodityList .th-item .property .pro-check {
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 328px;
}
.CommodityBox .CommodityList .th-item .property .pro-check span {
  margin-right: 10px;
  color: #999;
}
.CommodityBox .CommodityList .th-item .property .pro-check span b {
  font-weight: 400;
}
.CommodityBox .CommodityList .th-price {
  width: 130px;
}
.CommodityBox .CommodityList .th-price .pro-price {
  margin-top: 11px;
  line-height: 20px;
}
.CommodityBox .CommodityList .th-price .pro-price strong {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
  color: #e5004f;
  padding-right: 8px;
}
.CommodityBox .CommodityList .th-price .pro-price strong em {
  font-weight: 700px;
}
.CommodityBox .CommodityList .th-price .pro-price .pro-rebate {
  display: inline-block;
  width: 49px;
  height: 16px;
  line-height: 16px;
  padding-right: 6px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  color: #fff;
  font-family: Verdana;
  background: url(../img/car/shopping-icon.png) no-repeat 0 -177px;
}
.CommodityBox .CommodityList .th-amount {
  width: 66px;
  height: 20px;
  padding-right: 60px;
  text-align: center;
  margin-top: 12px;
}
.CommodityBox .CommodityList .th-amount .pro-number {
  position: relative;
  width: 64px;
  margin: 0 auto;
  text-align: center;
  color: #666;
}
.CommodityBox .CommodityList .th-amount .pro-number a {
  position: absolute;
  width: 16px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  border: 1px solid #dfdfdf;
  background-color: #eee;
  color: #666;
}
.CommodityBox .CommodityList .th-amount .pro-number .nums-red {
  left: 0;
  top: 0;
  z-index: 2;
}
.CommodityBox .CommodityList .th-amount .pro-number input {
  position: absolute;
  left: 17px;
  top: 0;
  z-index: 1;
  width: 28px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #666;
  outline: none;
}
.CommodityBox .CommodityList .th-amount .pro-number .nums-add {
  right: 0;
  top: 0;
  z-index: 2;
}
.CommodityBox .CommodityList .th-sum {
  width: 90px;
  line-height: 20px;
}
.CommodityBox .CommodityList .th-op {
  width: 91px;
}
.CommodityBox .CommodityList .th-op .decidetime a {
  display: block;
  width: 52px;
  height: 18px;
  padding-left: 16px;
  color: #666;
  background: url(../img/car/shopping-icon.png) no-repeat 0 -92px;
}
.CommodityBox .CommodityList .th-op .decidetime .pro-remove {
  background-position: 1px -125px;
}

.PayofFouCont {
  width: 886px;
  height: 42px;
  padding: 8px 26px 15px;
  z-index: 99;
  background-color: #eee;
}
.PayofFouCont .Accountsbox {
  width: 147px;
  height: 43px;
  margin-left: 15px;
  overflow: hidden;
  cursor: pointer;
  background: url(../img/car/shopping-submit.png) 0 0 no-repeat;
}
.PayofFouCont .position-add {
  background-position: 0 bottom;
}
.PayofFouCont .AccountsNum {
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.PayofFouCont .AccountsNum .cue {
  font-size: 12px;
  font-weight: 400;
  margin-left: -5px;
  font-style: normal;
  color: #666;
}
.PayofFouCont .AccountsNum .pay {
  padding: 0 5px;
  font-size: 16px;
  font-family: Verdana;
  color: #e5004f;
  vertical-align: middle;
}

/*# sourceMappingURL=main-cart.css.map */
