/*reset*/
/*a*/
/*border*/
/*h*/
/*padding*/
/*head*/
/*reset*/
/*a*/
/*border*/
/*h*/
/*padding*/
/*head*/
/*reset*/
/*a*/
/*border*/
/*h*/
/*padding*/
/*head*/
/*reset*/
body, h1, h2, h3, h4, h5, h6, p, ul, li, dl, ol, dd, dt, a, img, input, span {
  padding: 0;
  margin: 0;
}

body, html {
  height: 6400px;
}

img {
  border: 0;
  display: inline-block;
}

ul, ol {
  list-style: none;
}

a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  color: #e5004f;
  text-decoration: none;
}

/*reset*/
/*a*/
/*border*/
/*h*/
/*padding*/
/*head*/
.w {
  width: 1190px;
  margin: 0 auto !important;
}

.l {
  float: left;
}

.r {
  float: right;
}

.hidden {
  display: none;
  visibility: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.affix {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/*head*/
/*reset*/
/*a*/
/*border*/
/*h*/
/*padding*/
/*head*/
#p-crumbs-rEP {
  height: 51px;
  width: 1190px;
  background: #f4f4f4;
  margin: 0 auto;
}
#p-crumbs-rEP .t-crumbs {
  border-collapse: collapse;
  border-spacing: 0;
  width: 1190px;
  height: 51px;
  font-size: 12px;
}
#p-crumbs-rEP .t-crumbs .first {
  padding: 5px 15px;
  width: 40px;
  height: 41px;
  line-height: 41px;
  text-align: center;
}
#p-crumbs-rEP .t-crumbs .first .J_xuanqu {
  padding: 8px;
  white-space: nowrap;
  color: #666;
}
#p-crumbs-rEP .t-crumbs .next-kinds {
  width: 1010px;
  padding-bottom: 0 15px;
  height: 51px;
  line-height: 51px;
  background: url(../img/list/shu-line.jpg) no-repeat left 18px;
}
#p-crumbs-rEP .t-crumbs .next-kinds .xuan-cf {
  white-space: nowrap;
  padding: 8px;
  height: 35px;
  width: 978px;
}
#p-crumbs-rEP .t-crumbs .next-kinds .xuan-cf .cf {
  padding: 5px 0 0 0;
  height: 35px;
  width: 170px;
  line-height: 20px;
  color: #666;
}
#p-crumbs-rEP .t-crumbs .next-kinds .xuan-cf .cf span strong {
  font-weight: bold;
  color: #e5004f;
}

#p-filter {
  padding-top: 5px;
  overflow: hidden;
  border-bottom: 3px solid #000;
}
#p-filter .p-filterCommon {
  border-bottom: 1px solid #e1e1e1;
}
#p-filter .p-filterkinds {
  overflow: hidden;
  padding: 6px 30px;
  width: 1110px;
}
#p-filter .p-filterkinds dl {
  overflow: hidden;
  line-height: 30px;
  font-size: 14px;
}
#p-filter .p-filterkinds dl dd {
  margin-left: 30px;
  width: 960px;
}
#p-filter .p-filterkinds dl dd ul {
  list-style: none;
}
#p-filter .p-filterkinds dl dd ul li {
  margin-right: 17px;
  padding-bottom: 10px;
  width: 175px;
}
#p-filter .p-filterKindsMain {
  padding: 6px 30px;
  width: 1110px;
  overflow: hidden;
}
#p-filter .p-filterKindsMain dl {
  overflow: hidden;
  line-height: 30px;
  font-size: 14px;
}
#p-filter .p-filterKindsMain dl dd {
  margin-left: 40px;
  width: 960px;
  height: 28px;
  overflow: hidden;
}
#p-filter .p-filterKindsMain dl dd ul {
  list-style: none;
}
#p-filter .p-filterKindsMain dl dd ul li {
  margin-right: 17px;
  padding-bottom: 10px;
  width: 46px;
}
#p-filter .p-filterKindsMain dl .show-dd {
  overflow-y: scroll;
  height: 84px;
}
#p-filter .p-filterKindsMain .p-filterOperate {
  overflow: hidden;
  margin-left: 15px;
}
#p-filter .p-filterKindsMain .p-filterOperate a {
  display: block;
  height: 20px;
  width: 45px;
  background: url(../img/list/p-allIcon.gif) no-repeat 32px -179px;
}
#p-filter .p-filterKindsMain .p-filterOperate .position-bg1 {
  background-position: 32px -215px;
}

#fixnav-wrap {
  height: 35px;
  margin-top: 55px;
  background: #5c5c5c;
}
#fixnav-wrap .p-listNav {
  height: 35px;
  line-height: 35px;
}
#fixnav-wrap .p-listNav .p-listNavDefaultD {
  height: 35px;
  line-height: 35px;
  border-right: 1px solid #ccc;
}
#fixnav-wrap .p-listNav .p-listNavDefaultD a {
  padding: 0 20px;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
}
#fixnav-wrap .p-listNav .p-listNavDefaultD a span {
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 13px;
  background: url(../img/list/pro-list-change.jpg) no-repeat;
  margin-right: 5px;
}
#fixnav-wrap .p-listNav .p-listNavDefaultD a .J-price {
  background-position: right 0;
}
#fixnav-wrap .p-listNav .p-listNavDefaultD .position-img {
  background: url(../img/list/px.png) no-repeat 50px 8px;
}
#fixnav-wrap .p-listNav .p-listNavDefaultD .position-img:hover {
  color: #fff;
}
#fixnav-wrap .p-listNav .p-listNavDefaultD a:hover {
  color: #e5004f;
}
#fixnav-wrap .p-listNav .bg-showIMg {
  background: url(../img/list/miao.jpg) no-repeat 64px 5px;
}
#fixnav-wrap .p-listNav .p-listNavSearch {
  width: 203px;
  height: 23px;
  padding: 6px;
}
#fixnav-wrap .p-listNav .p-listNavSearch .p-listNavSearchInput {
  width: 160px;
  height: 23px;
  margin: 0;
  line-height: 23px;
  border: none;
  display: block;
  overflow: hidden;
  padding-left: 5px;
  color: #777777;
  font-size: 12px;
}
#fixnav-wrap .p-listNav .p-listNavSearch .p-listNavSearchBtn {
  width: 38px;
  height: 23px;
  border: 0;
  cursor: pointer;
  background: url(../img/list/qr.jpg) no-repeat left top;
}

#p-listMain {
  height: 5520px;
}
#p-listMain .p-listInfo {
  width: 228px;
  border: 2px solid #f4f4f4;
  float: left;
  display: inline;
  margin: 3px;
  background: #fff;
  height: 450px;
}
#p-listMain .p-listInfo .p-listImgBig {
  overflow: hidden;
  margin-bottom: 10px;
}
#p-listMain .p-listInfo .p-listImgBig a {
  display: block;
  height: 304px;
  width: 228px;
}
#p-listMain .p-listInfo .p-listImgBig a img {
  display: block;
  height: 304px;
  width: 228px;
}
#p-listMain .p-listInfo .p-listImgBig a .show-bigImg {
  height: 320px;
}
#p-listMain .p-listInfo .p-listScroller {
  width: 208px;
  height: 57px;
  margin-left: 10px;
  overflow: hidden;
}
#p-listMain .p-listInfo .p-listScroller .listPicPanel {
  overflow: visible;
  margin: 0 auto;
}
#p-listMain .p-listInfo .p-listScroller .listPicPanel li {
  margin: 0 4px;
}
#p-listMain .p-listInfo .p-listScroller .listPicPanel li a {
  display: block;
  border: 1px solid #e2e2e2;
  width: 40px;
  height: 53px;
  padding: 1px;
  overflow: hidden;
}
#p-listMain .p-listInfo .p-listScroller .listPicPanel li a img {
  display: block;
  width: 40px;
  height: 53px;
}
#p-listMain .p-listInfo .p-listPrice {
  padding: 0 12px;
  padding-bottom: 5px;
}
#p-listMain .p-listInfo .p-listPrice strong {
  color: #e5004f;
  padding-right: 20px;
  font-size: 12px;
}
#p-listMain .p-listInfo .p-listPrice em {
  font-style: normal;
  color: #999;
  background: url(../img/list/sprit.gif) no-repeat -446px -479px;
  font-size: 12px;
}
#p-listMain .p-listInfo .p-listTxt {
  height: 42px;
  width: 204px;
  margin-bottom: 5px;
  padding: 0 12px;
}
#p-listMain .p-listInfo .p-listTxt p {
  line-height: 21px;
  font-style: normal;
}
#p-listMain .p-listInfo .p-listTxt p a:hover {
  color: #e5004f;
}
#p-listMain .stress-bc {
  border: 2px solid #e5004f;
}

/*# sourceMappingURL=main-list.css.map */
